<a href="https://colab.research.google.com/github/JimKing100/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module1-introduction-to-sql/NorthwindDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sqlite3

In [0]:
!wget https://github.com/kts/sqlite-samples/blob/master/northwind.sqlite?raw=true -O northwind.sqlite

--2019-11-13 04:34:10--  https://github.com/kts/sqlite-samples/blob/master/northwind.sqlite?raw=true
Resolving github.com (github.com)... 140.82.118.4
Connecting to github.com (github.com)|140.82.118.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/kts/sqlite-samples/raw/master/northwind.sqlite [following]
--2019-11-13 04:34:10--  https://github.com/kts/sqlite-samples/raw/master/northwind.sqlite
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/kts/sqlite-samples/master/northwind.sqlite [following]
--2019-11-13 04:34:10--  https://raw.githubusercontent.com/kts/sqlite-samples/master/northwind.sqlite
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 561152 (548K) [application/octet-stream]
Saving to: ‘northwind.sqlite’

northwind.sqlite    100%[===================>] 548.00K  --.-KB/s    in 0.02s

2019-11-13 04:34:10 (26.7 MB/s) - ‘northwind.sqlite’ saved [561152/561152]

In [0]:
conn = sqlite3.connect('northwind.sqlite')

In [0]:
cur = conn.cursor()

In [0]:
query = """
SELECT OrderID, OrderDate, ShippedDate, CustomerID, Freight
FROM Orders
ORDER BY Freight DESC
"""
cur.execute(query)
cur.fetchall()

[(10540,
  '1997-05-19 00:00:00.000',
  '1997-06-13 00:00:00.000',
  'QUICK',
  1007.64),
 (10372,
  '1996-12-04 00:00:00.000',
  '1996-12-09 00:00:00.000',
  'QUEEN',
  890.78),
 (11030,
  '1998-04-17 00:00:00.000',
  '1998-04-27 00:00:00.000',
  'SAVEA',
  830.75),
 (10691,
  '1997-10-03 00:00:00.000',
  '1997-10-22 00:00:00.000',
  'QUICK',
  810.05),
 (10514,
  '1997-04-22 00:00:00.000',
  '1997-05-16 00:00:00.000',
  'ERNSH',
  789.95),
 (11017,
  '1998-04-13 00:00:00.000',
  '1998-04-20 00:00:00.000',
  'ERNSH',
  754.26),
 (10816,
  '1998-01-06 00:00:00.000',
  '1998-02-04 00:00:00.000',
  'GREAL',
  719.78),
 (10479,
  '1997-03-19 00:00:00.000',
  '1997-03-21 00:00:00.000',
  'RATTC',
  708.95),
 (10983,
  '1998-03-27 00:00:00.000',
  '1998-04-06 00:00:00.000',
  'SAVEA',
  657.54),
 (11032,
  '1998-04-17 00:00:00.000',
  '1998-04-23 00:00:00.000',
  'WHITC',
  606.19),
 (10897,
  '1998-02-19 00:00:00.000',
  '1998-02-25 00:00:00.000',
  'HUNGO',
  603.54),
 (10912,
  '1998-02-26 00:00:00.000',
  '1998-03-18 00:00:00.000',
  'HUNGO',
  580.91),
 (10612,
  '1997-07-28 00:00:00.000',
  '1997-08-01 00:00:00.000',
  'SAVEA',
  544.08),
 (10847,
  '1998-01-22 00:00:00.000',
  '1998-02-10 00:00:00.000',
  'SAVEA',
  487.57),
 (10634,
  '1997-08-15 00:00:00.000',
  '1997-08-21 00:00:00.000',
  'FOLIG',
  487.38),
 (10633, '1997-08-15 00:00:00.000', '1997-08-18 00:00:00.000', 'ERNSH', 477.9),
 (10430,
  '1997-01-30 00:00:00.000',
  '1997-02-03 00:00:00.000',
  'ERNSH',
  458.78),
 (10841, '1998-01-20 00:00:00.000', '1998-01-29 00:00:00.000', 'SUPRD', 424.3),
 (10836,
  '1998-01-16 00:00:00.000',
  '1998-01-21 00:00:00.000',
  'ERNSH',
  411.88),
 (10941,
  '1998-03-11 00:00:00.000',
  '1998-03-20 00:00:00.000',
  'SAVEA',
  400.81),
 (10694,
  '1997-10-06 00:00:00.000',
  '1997-10-09 00:00:00.000',
  'QUICK',
  398.36),
 (10678,
  '1997-09-23 00:00:00.000',
  '1997-10-16 00:00:00.000',
  'SAVEA',
  388.98),
 (10605,
  '1997-07-21 00:00:00.000',
  '1997-07-29 00:00:00.000',
  'MEREP',
  379.13),
 (10424,
  '1997-01-23 00:00:00.000',
  '1997-01-27 00:00:00.000',
  'MEREP',
  370.61),
 (10510,
  '1997-04-18 00:00:00.000',
  '1997-04-28 00:00:00.000',
  'SAVEA',
  367.63),
 (10658,
  '1997-09-05 00:00:00.000',
  '1997-09-08 00:00:00.000',
  'QUICK',
  364.15),
 (10353,
  '1996-11-13 00:00:00.000',
  '1996-11-25 00:00:00.000',
  'PICCO',
  360.63),
 (10979,
  '1998-03-26 00:00:00.000',
  '1998-03-31 00:00:00.000',
  'ERNSH',
  353.07),
 (10657,
  '1997-09-04 00:00:00.000',
  '1997-09-15 00:00:00.000',
  'SAVEA',
  352.69),
 (10776,
  '1997-12-15 00:00:00.000',
  '1997-12-18 00:00:00.000',
  'ERNSH',
  351.53),
 (10511,
  '1997-04-18 00:00:00.000',
  '1997-04-21 00:00:00.000',
  'BONAP',
  350.64),
 (10865,
  '1998-02-02 00:00:00.000',
  '1998-02-12 00:00:00.000',
  'QUICK',
  348.14),
 (10530,
  '1997-05-08 00:00:00.000',
  '1997-05-12 00:00:00.000',
  'PICCO',
  339.22),
 (10762,
  '1997-12-02 00:00:00.000',
  '1997-12-09 00:00:00.000',
  'FOLKO',
  328.74),
 (10817,
  '1998-01-06 00:00:00.000',
  '1998-01-13 00:00:00.000',
  'KOENE',
  306.07),
 (10688,
  '1997-10-01 00:00:00.000',
  '1997-10-07 00:00:00.000',
  'VAFFE',
  299.09),
 (11021,
  '1998-04-14 00:00:00.000',
  '1998-04-21 00:00:00.000',
  'QUICK',
  297.18),
 (10687,
  '1997-09-30 00:00:00.000',
  '1997-10-30 00:00:00.000',
  'HUNGO',
  296.43),
 (10359,
  '1996-11-21 00:00:00.000',
  '1996-11-26 00:00:00.000',
  'SEVES',
  288.43),
 (10889,
  '1998-02-16 00:00:00.000',
  '1998-02-23 00:00:00.000',
  'RATTC',
  280.61),
 (11056,
  '1998-04-28 00:00:00.000',
  '1998-05-01 00:00:00.000',
  'EASTC',
  278.96),
 (10962,
  '1998-03-19 00:00:00.000',
  '1998-03-23 00:00:00.000',
  'QUICK',
  275.79),
 (10698,
  '1997-10-09 00:00:00.000',
  '1997-10-17 00:00:00.000',
  'ERNSH',
  272.47),
 (11072, '1998-05-05 00:00:00.000', None, 'ERNSH', 258.64),
 (10305,
  '1996-09-13 00:00:00.000',
  '1996-10-09 00:00:00.000',
  'OLDWO',
  257.62),
 (10802,
  '1997-12-29 00:00:00.000',
  '1998-01-02 00:00:00.000',
  'SIMOB',
  257.26),
 (10555,
  '1997-06-02 00:00:00.000',
  '1997-06-04 00:00:00.000',
  'SAVEA',
  252.49),
 (10787,
  '1997-12-19 00:00:00.000',
  '1997-12-26 00:00:00.000',
  'LAMAI',
  249.93),
 (10345,
  '1996-11-04 00:00:00.000',
  '1996-11-11 00:00:00.000',
  'QUICK',
  249.06),
 (10524,
  '1997-05-01 00:00:00.000',
  '1997-05-07 00:00:00.000',
  'BERGS',
  244.79),
 (10742,
  '1997-11-14 00:00:00.000',
  '1997-11-18 00:00:00.000',
  'BOTTM',
  243.73),
 (11012,
  '1998-04-09 00:00:00.000',
  '1998-04-17 00:00:00.000',
  'FRANK',
  242.95),
 (10561,
  '1997-06-06 00:00:00.000',
  '1997-06-09 00:00:00.000',
  'FOLKO',
  242.21),
 (10805,
  '1997-12-30 00:00:00.000',
  '1998-01-09 00:00:00.000',
  'THEBI',
  237.34),
 (10748,
  '1997-11-20 00:00:00.000',
  '1997-11-28 00:00:00.000',
  'SAVEA',
  232.55),
 (10666,
  '1997-09-12 00:00:00.000',
  '1997-09-22 00:00:00.000',
  'RICSU',
  232.42),
 (10286,
  '1996-08-21 00:00:00.000',
  '1996-08-30 00:00:00.000',
  'QUICK',
  229.24),
 (11031,
  '1998-04-17 00:00:00.000',
  '1998-04-24 00:00:00.000',
  'SAVEA',
  227.22),
 (10701,
  '1997-10-13 00:00:00.000',
  '1997-10-15 00:00:00.000',
  'HUNGO',
  220.31),
 (10518,
  '1997-04-25 00:00:00.000',
  '1997-05-05 00:00:00.000',
  'TORTU',
  218.15),
 (10986,
  '1998-03-30 00:00:00.000',
  '1998-04-21 00:00:00.000',
  'OCEAN',
  217.86),
 (10324,
  '1996-10-08 00:00:00.000',
  '1996-10-10 00:00:00.000',
  'SAVEA',
  214.27),
 (10845,
  '1998-01-21 00:00:00.000',
  '1998-01-30 00:00:00.000',
  'QUICK',
  212.98),
 (10984,
  '1998-03-30 00:00:00.000',
  '1998-04-03 00:00:00.000',
  'SAVEA',
  211.22),
 (10709, '1997-10-17 00:00:00.000', '1997-11-20 00:00:00.000', 'GOURL', 210.8),
 (10490,
  '1997-03-31 00:00:00.000',
  '1997-04-03 00:00:00.000',
  'HILAA',
  210.19),
 (10267,
  '1996-07-29 00:00:00.000',
  '1996-08-06 00:00:00.000',
  'FRANK',
  208.58),
 (10977, '1998-03-26 00:00:00.000', '1998-04-10 00:00:00.000', 'FOLKO', 208.5),
 (10515,
  '1997-04-23 00:00:00.000',
  '1997-05-23 00:00:00.000',
  'QUICK',
  204.47),
 (10670,
  '1997-09-16 00:00:00.000',
  '1997-09-18 00:00:00.000',
  'FRANK',
  203.48),
 (11007,
  '1998-04-08 00:00:00.000',
  '1998-04-13 00:00:00.000',
  'PRINI',
  202.24),
 (10637,
  '1997-08-19 00:00:00.000',
  '1997-08-26 00:00:00.000',
  'QUEEN',
  201.29),
 (10607,
  '1997-07-22 00:00:00.000',
  '1997-07-25 00:00:00.000',
  'SAVEA',
  200.24),
 (11001, '1998-04-06 00:00:00.000', '1998-04-14 00:00:00.000', 'FOLKO', 197.3),
 (10369,
  '1996-12-02 00:00:00.000',
  '1996-12-09 00:00:00.000',
  'SPLIR',
  195.68),
 (10546,
  '1997-05-23 00:00:00.000',
  '1997-05-27 00:00:00.000',
  'VICTE',
  194.72),
 (10588,
  '1997-07-03 00:00:00.000',
  '1997-07-10 00:00:00.000',
  'QUICK',
  194.67),
 (10981,
  '1998-03-27 00:00:00.000',
  '1998-04-02 00:00:00.000',
  'HANAR',
  193.37),
 (10329,
  '1996-10-15 00:00:00.000',
  '1996-10-23 00:00:00.000',
  'SPLIR',
  191.67),
 (10868,
  '1998-02-04 00:00:00.000',
  '1998-02-23 00:00:00.000',
  'QUEEN',
  191.27),
 (10451,
  '1997-02-19 00:00:00.000',
  '1997-03-12 00:00:00.000',
  'QUICK',
  189.09),
 (10570,
  '1997-06-17 00:00:00.000',
  '1997-06-19 00:00:00.000',
  'MEREP',
  188.99),
 (10857,
  '1998-01-28 00:00:00.000',
  '1998-02-06 00:00:00.000',
  'BERGS',
  188.85),
 (10533,
  '1997-05-12 00:00:00.000',
  '1997-05-22 00:00:00.000',
  'FOLKO',
  188.04),
 (10987,
  '1998-03-31 00:00:00.000',
  '1998-04-06 00:00:00.000',
  'EASTC',
  185.48),
 (10395,
  '1996-12-26 00:00:00.000',
  '1997-01-03 00:00:00.000',
  'HILAA',
  184.41),
 (10361,
  '1996-11-22 00:00:00.000',
  '1996-12-03 00:00:00.000',
  'QUICK',
  183.17),
 (10455,
  '1997-02-24 00:00:00.000',
  '1997-03-03 00:00:00.000',
  'WARTH',
  180.45),
 (10641,
  '1997-08-22 00:00:00.000',
  '1997-08-26 00:00:00.000',
  'HILAA',
  179.61),
 (10547,
  '1997-05-23 00:00:00.000',
  '1997-06-02 00:00:00.000',
  'SEVES',
  178.43),
 (10650,
  '1997-08-29 00:00:00.000',
  '1997-09-03 00:00:00.000',
  'FAMIA',
  176.81),
 (10921,
  '1998-03-03 00:00:00.000',
  '1998-03-09 00:00:00.000',
  'VAFFE',
  176.48),
 (10872,
  '1998-02-05 00:00:00.000',
  '1998-02-09 00:00:00.000',
  'GODOS',
  175.32),
 (10593, '1997-07-09 00:00:00.000', '1997-08-13 00:00:00.000', 'LEHMS', 174.2),
 (10852,
  '1998-01-26 00:00:00.000',
  '1998-01-30 00:00:00.000',
  'RATTC',
  174.05),
 (10549,
  '1997-05-27 00:00:00.000',
  '1997-05-30 00:00:00.000',
  'QUICK',
  171.24),
 (10855,
  '1998-01-27 00:00:00.000',
  '1998-02-04 00:00:00.000',
  'OLDWO',
  170.97),
 (10718,
  '1997-10-27 00:00:00.000',
  '1997-10-29 00:00:00.000',
  'KOENE',
  170.88),
 (10384,
  '1996-12-16 00:00:00.000',
  '1996-12-20 00:00:00.000',
  'BERGS',
  168.64),
 (10298,
  '1996-09-05 00:00:00.000',
  '1996-09-11 00:00:00.000',
  'HUNGO',
  168.22),
 (10713,
  '1997-10-22 00:00:00.000',
  '1997-10-24 00:00:00.000',
  'SAVEA',
  167.05),
 (10340,
  '1996-10-29 00:00:00.000',
  '1996-11-08 00:00:00.000',
  'BONAP',
  166.31),
 (10823,
  '1998-01-09 00:00:00.000',
  '1998-01-13 00:00:00.000',
  'LILAS',
  163.97),
 (10904,
  '1998-02-24 00:00:00.000',
  '1998-02-27 00:00:00.000',
  'WHITC',
  162.95),
 (10895,
  '1998-02-18 00:00:00.000',
  '1998-02-23 00:00:00.000',
  'ERNSH',
  162.75),
 (10351,
  '1996-11-11 00:00:00.000',
  '1996-11-20 00:00:00.000',
  'ERNSH',
  162.33),
 (10851,
  '1998-01-26 00:00:00.000',
  '1998-02-02 00:00:00.000',
  'RICAR',
  160.55),
 (10638,
  '1997-08-20 00:00:00.000',
  '1997-09-01 00:00:00.000',
  'LINOD',
  158.44),
 (10766,
  '1997-12-05 00:00:00.000',
  '1997-12-09 00:00:00.000',
  'OTTIK',
  157.55),
 (10436,
  '1997-02-05 00:00:00.000',
  '1997-02-11 00:00:00.000',
  'BLONP',
  156.66),
 (10404,
  '1997-01-03 00:00:00.000',
  '1997-01-08 00:00:00.000',
  'MAGAA',
  155.97),
 (10760,
  '1997-12-01 00:00:00.000',
  '1997-12-10 00:00:00.000',
  'MAISD',
  155.64),
 (10829,
  '1998-01-13 00:00:00.000',
  '1998-01-23 00:00:00.000',
  'ISLAT',
  154.72),
 (10618,
  '1997-08-01 00:00:00.000',
  '1997-08-08 00:00:00.000',
  'MEREP',
  154.68),
 (10703, '1997-10-14 00:00:00.000', '1997-10-20 00:00:00.000', 'FOLKO', 152.3),
 (10924,
  '1998-03-04 00:00:00.000',
  '1998-04-08 00:00:00.000',
  'BERGS',
  151.52),
 (10316,
  '1996-09-27 00:00:00.000',
  '1996-10-08 00:00:00.000',
  'RATTC',
  150.15),
 (10553,
  '1997-05-30 00:00:00.000',
  '1997-06-03 00:00:00.000',
  'WARTH',
  149.49),
 (11036,
  '1998-04-20 00:00:00.000',
  '1998-04-22 00:00:00.000',
  'DRACD',
  149.47),
 (10461,
  '1997-02-28 00:00:00.000',
  '1997-03-05 00:00:00.000',
  'LILAS',
  148.61),
 (10255,
  '1996-07-12 00:00:00.000',
  '1996-07-15 00:00:00.000',
  'RICSU',
  148.33),
 (10294,
  '1996-08-30 00:00:00.000',
  '1996-09-05 00:00:00.000',
  'RATTC',
  147.26),
 (10458,
  '1997-02-26 00:00:00.000',
  '1997-03-04 00:00:00.000',
  'SUPRD',
  147.06),
 (10768,
  '1997-12-08 00:00:00.000',
  '1997-12-15 00:00:00.000',
  'AROUT',
  146.32),
 (10263,
  '1996-07-23 00:00:00.000',
  '1996-07-31 00:00:00.000',
  'ERNSH',
  146.06),
 (10684,
  '1997-09-26 00:00:00.000',
  '1997-09-30 00:00:00.000',
  'OTTIK',
  145.63),
 (10764,
  '1997-12-03 00:00:00.000',
  '1997-12-08 00:00:00.000',
  'ERNSH',
  145.45),
 (10465,
  '1997-03-05 00:00:00.000',
  '1997-03-14 00:00:00.000',
  'VAFFE',
  145.04),
 (10965,
  '1998-03-20 00:00:00.000',
  '1998-03-30 00:00:00.000',
  'OLDWO',
  144.38),
 (10869,
  '1998-02-04 00:00:00.000',
  '1998-02-09 00:00:00.000',
  'SEVES',
  143.28),
 (10646,
  '1997-08-27 00:00:00.000',
  '1997-09-03 00:00:00.000',
  'HUNGO',
  142.33),
 (10346,
  '1996-11-05 00:00:00.000',
  '1996-11-08 00:00:00.000',
  'RATTC',
  142.08),
 (11002,
  '1998-04-06 00:00:00.000',
  '1998-04-16 00:00:00.000',
  'SAVEA',
  141.16),
 (10729,
  '1997-11-04 00:00:00.000',
  '1997-11-14 00:00:00.000',
  'LINOD',
  141.06),
 (10258,
  '1996-07-17 00:00:00.000',
  '1996-07-23 00:00:00.000',
  'ERNSH',
  140.51),
 (10452,
  '1997-02-20 00:00:00.000',
  '1997-02-26 00:00:00.000',
  'SAVEA',
  140.26),
 (10693,
  '1997-10-06 00:00:00.000',
  '1997-10-10 00:00:00.000',
  'WHITC',
  139.34),
 (10626,
  '1997-08-11 00:00:00.000',
  '1997-08-20 00:00:00.000',
  'BERGS',
  138.69),
 (10758,
  '1997-11-28 00:00:00.000',
  '1997-12-04 00:00:00.000',
  'RICSU',
  138.17),
 (10800,
  '1997-12-26 00:00:00.000',
  '1998-01-05 00:00:00.000',
  'SEVES',
  137.44),
 (10419,
  '1997-01-20 00:00:00.000',
  '1997-01-30 00:00:00.000',
  'RICSU',
  137.35),
 (10270,
  '1996-08-01 00:00:00.000',
  '1996-08-02 00:00:00.000',
  'WARTH',
  136.54),
 (11070, '1998-05-05 00:00:00.000', None, 'LEHMS', 136),
 (10706,
  '1997-10-16 00:00:00.000',
  '1997-10-21 00:00:00.000',
  'OLDWO',
  135.63),
 (10396,
  '1996-12-27 00:00:00.000',
  '1997-01-06 00:00:00.000',
  'FRANK',
  135.35),
 (10932,
  '1998-03-06 00:00:00.000',
  '1998-03-24 00:00:00.000',
  'BONAP',
  134.64),
 (10360, '1996-11-22 00:00:00.000', '1996-12-02 00:00:00.000', 'BLONP', 131.7),
 (10814,
  '1998-01-05 00:00:00.000',
  '1998-01-14 00:00:00.000',
  'VICTE',
  130.94),
 (10751,
  '1997-11-24 00:00:00.000',
  '1997-12-03 00:00:00.000',
  'RICSU',
  130.79),
 (10575,
  '1997-06-20 00:00:00.000',
  '1997-06-30 00:00:00.000',
  'MORGK',
  127.34),
 (10795,
  '1997-12-24 00:00:00.000',
  '1998-01-20 00:00:00.000',
  'ERNSH',
  126.66),
 (10393,
  '1996-12-25 00:00:00.000',
  '1997-01-03 00:00:00.000',
  'SAVEA',
  126.56),
 (10390,
  '1996-12-23 00:00:00.000',
  '1996-12-26 00:00:00.000',
  'ERNSH',
  126.38),
 (10277,
  '1996-08-09 00:00:00.000',
  '1996-08-13 00:00:00.000',
  'MORGK',
  125.77),
 (10783,
  '1997-12-18 00:00:00.000',
  '1997-12-19 00:00:00.000',
  'HANAR',
  124.98),
 (10373,
  '1996-12-05 00:00:00.000',
  '1996-12-11 00:00:00.000',
  'HUNGO',
  124.12),
 (11023,
  '1998-04-14 00:00:00.000',
  '1998-04-24 00:00:00.000',
  'BSBEV',
  123.83),
 (10392,
  '1996-12-24 00:00:00.000',
  '1997-01-01 00:00:00.000',
  'PICCO',
  122.46),
 (10971,
  '1998-03-24 00:00:00.000',
  '1998-04-02 00:00:00.000',
  'FRANR',
  121.82),
 (10554,
  '1997-05-30 00:00:00.000',
  '1997-06-05 00:00:00.000',
  'OTTIK',
  120.97),
 (11055,
  '1998-04-28 00:00:00.000',
  '1998-05-05 00:00:00.000',
  'HILAA',
  120.92),
 (10892,
  '1998-02-17 00:00:00.000',
  '1998-02-19 00:00:00.000',
  'MAISD',
  120.27),
 (10990,
  '1998-04-01 00:00:00.000',
  '1998-04-07 00:00:00.000',
  'ERNSH',
  117.61),
 (10747,
  '1997-11-19 00:00:00.000',
  '1997-11-26 00:00:00.000',
  'PICCO',
  117.33),
 (10616,
  '1997-07-31 00:00:00.000',
  '1997-08-05 00:00:00.000',
  'GREAL',
  116.53),
 (10572,
  '1997-06-18 00:00:00.000',
  '1997-06-25 00:00:00.000',
  'BERGS',
  116.43),
 (10894,
  '1998-02-18 00:00:00.000',
  '1998-02-20 00:00:00.000',
  'SAVEA',
  116.13),
 (10663,
  '1997-09-10 00:00:00.000',
  '1997-10-03 00:00:00.000',
  'BONAP',
  113.15),
 (10871,
  '1998-02-05 00:00:00.000',
  '1998-02-10 00:00:00.000',
  'BONAP',
  112.27),
 (10660,
  '1997-09-08 00:00:00.000',
  '1997-10-15 00:00:00.000',
  'HUNGC',
  111.29),
 (10786,
  '1997-12-19 00:00:00.000',
  '1997-12-23 00:00:00.000',
  'QUEEN',
  110.87),
 (10343,
  '1996-10-31 00:00:00.000',
  '1996-11-06 00:00:00.000',
  'LEHMS',
  110.37),
 (10733,
  '1997-11-07 00:00:00.000',
  '1997-11-10 00:00:00.000',
  'BERGS',
  110.11),
 (10866,
  '1998-02-03 00:00:00.000',
  '1998-02-12 00:00:00.000',
  'BERGS',
  109.11),
 (10337,
  '1996-10-24 00:00:00.000',
  '1996-10-29 00:00:00.000',
  'FRANK',
  108.26),
 (10406,
  '1997-01-07 00:00:00.000',
  '1997-01-13 00:00:00.000',
  'QUEEN',
  108.04),
 (10303,
  '1996-09-11 00:00:00.000',
  '1996-09-18 00:00:00.000',
  'GODOS',
  107.83),
 (10627,
  '1997-08-11 00:00:00.000',
  '1997-08-21 00:00:00.000',
  'SAVEA',
  107.46),
 (10659,
  '1997-09-05 00:00:00.000',
  '1997-09-10 00:00:00.000',
  'QUEEN',
  105.81),
 (10513,
  '1997-04-22 00:00:00.000',
  '1997-04-28 00:00:00.000',
  'WANDK',
  105.65),
 (10957,
  '1998-03-18 00:00:00.000',
  '1998-03-27 00:00:00.000',
  'HILAA',
  105.36),
 (10961,
  '1998-03-19 00:00:00.000',
  '1998-03-30 00:00:00.000',
  'QUEEN',
  104.47),
 (10696,
  '1997-10-08 00:00:00.000',
  '1997-10-14 00:00:00.000',
  'WHITC',
  102.55),
 (10499,
  '1997-04-08 00:00:00.000',
  '1997-04-16 00:00:00.000',
  'LILAS',
  102.02),
 (10368,
  '1996-11-29 00:00:00.000',
  '1996-12-02 00:00:00.000',
  'ERNSH',
  101.95),
 (10789, '1997-12-22 00:00:00.000', '1997-12-31 00:00:00.000', 'FOLIG', 100.6),
 (10854,
  '1998-01-27 00:00:00.000',
  '1998-02-05 00:00:00.000',
  'ERNSH',
  100.22),
 (10421, '1997-01-21 00:00:00.000', '1997-01-27 00:00:00.000', 'QUEDE', 99.23),
 (10272, '1996-08-02 00:00:00.000', '1996-08-06 00:00:00.000', 'RATTC', 98.03),
 (10623, '1997-08-07 00:00:00.000', '1997-08-12 00:00:00.000', 'FRANK', 97.18),
 (10801, '1997-12-29 00:00:00.000', '1997-12-31 00:00:00.000', 'BOLID', 97.09),
 (10595, '1997-07-10 00:00:00.000', '1997-07-14 00:00:00.000', 'ERNSH', 96.78),
 (10557, '1997-06-03 00:00:00.000', '1997-06-06 00:00:00.000', 'LEHMS', 96.72),
 (10731, '1997-11-06 00:00:00.000', '1997-11-14 00:00:00.000', 'CHOPS', 96.65),
 (10686, '1997-09-30 00:00:00.000', '1997-10-08 00:00:00.000', 'PICCO', 96.5),
 (10773, '1997-12-11 00:00:00.000', '1997-12-16 00:00:00.000', 'ERNSH', 96.43),
 (10999, '1998-04-03 00:00:00.000', '1998-04-10 00:00:00.000', 'OTTIK', 96.35),
 (10362, '1996-11-25 00:00:00.000', '1996-11-28 00:00:00.000', 'BONAP', 96.04),
 (10672, '1997-09-17 00:00:00.000', '1997-09-26 00:00:00.000', 'BERGS', 95.75),
 (10413, '1997-01-14 00:00:00.000', '1997-01-16 00:00:00.000', 'LAMAI', 95.66),
 (10624, '1997-08-07 00:00:00.000', '1997-08-19 00:00:00.000', 'THECR', 94.8),
 (10382, '1996-12-13 00:00:00.000', '1996-12-16 00:00:00.000', 'ERNSH', 94.77),
 (10387, '1996-12-18 00:00:00.000', '1996-12-20 00:00:00.000', 'SANTG', 93.63),
 (10653, '1997-09-02 00:00:00.000', '1997-09-19 00:00:00.000', 'FRANK', 93.25),
 (10278, '1996-08-12 00:00:00.000', '1996-08-16 00:00:00.000', 'BERGS', 92.69),
 (10519, '1997-04-28 00:00:00.000', '1997-05-01 00:00:00.000', 'CHOPS', 91.76),
 (10985, '1998-03-30 00:00:00.000', '1998-04-02 00:00:00.000', 'HUNGO', 91.51),
 (10407, '1997-01-07 00:00:00.000', '1997-01-30 00:00:00.000', 'OTTIK', 91.48),
 (10772, '1997-12-10 00:00:00.000', '1997-12-19 00:00:00.000', 'LEHMS', 91.28),
 (10619, '1997-08-04 00:00:00.000', '1997-08-07 00:00:00.000', 'MEREP', 91.05),
 (10884, '1998-02-12 00:00:00.000', '1998-02-13 00:00:00.000', 'LETSS', 90.97),
 (10828, '1998-01-13 00:00:00.000', '1998-02-04 00:00:00.000', 'RANCH', 90.85),
 (10712, '1997-10-21 00:00:00.000', '1997-10-31 00:00:00.000', 'HUNGO', 89.93),
 (10727, '1997-11-03 00:00:00.000', '1997-12-05 00:00:00.000', 'REGGC', 89.9),
 (10398, '1996-12-30 00:00:00.000', '1997-01-09 00:00:00.000', 'SAVEA', 89.16),
 (10464, '1997-03-04 00:00:00.000', '1997-03-14 00:00:00.000', 'FURIB', 89),
 (10566, '1997-06-12 00:00:00.000', '1997-06-18 00:00:00.000', 'BLONP', 88.4),
 (10880, '1998-02-10 00:00:00.000', '1998-02-18 00:00:00.000', 'FOLKO', 88.01),
 (10964, '1998-03-20 00:00:00.000', '1998-03-24 00:00:00.000', 'SPECD', 87.38),
 (10328, '1996-10-14 00:00:00.000', '1996-10-17 00:00:00.000', 'FURIB', 87.03),
 (10440, '1997-02-10 00:00:00.000', '1997-02-28 00:00:00.000', 'SAVEA', 86.53),
 (11059, '1998-04-29 00:00:00.000', None, 'RICAR', 85.8),
 (10629, '1997-08-12 00:00:00.000', '1997-08-20 00:00:00.000', 'GODOS', 85.46),
 (10573, '1997-06-19 00:00:00.000', '1997-06-20 00:00:00.000', 'ANTON', 84.84),
 (10283, '1996-08-16 00:00:00.000', '1996-08-23 00:00:00.000', 'LILAS', 84.81),
 (11033, '1998-04-17 00:00:00.000', '1998-04-23 00:00:00.000', 'RICSU', 84.74),
 (10338, '1996-10-25 00:00:00.000', '1996-10-29 00:00:00.000', 'OLDWO', 84.21),
 (10400, '1997-01-01 00:00:00.000', '1997-01-16 00:00:00.000', 'EASTC', 83.93),
 (10474, '1997-03-13 00:00:00.000', '1997-03-21 00:00:00.000', 'PERIC', 83.49),
 (10552, '1997-05-29 00:00:00.000', '1997-06-05 00:00:00.000', 'HILAA', 83.22),
 (10257, '1996-07-16 00:00:00.000', '1996-07-22 00:00:00.000', 'HILAA', 81.91),

In [0]:
cur.fetchone()

(10372, '1996-12-04 00:00:00.000', '1996-12-09 00:00:00.000', 'QUEEN', 890.78)

In [0]:
[desc[0] for desc in cur.description]

['OrderID', 'OrderDate', 'ShippedDate', 'CustomerID', 'Freight']

In [0]:
import pandas as pd

In [0]:
df = pd.read_sql_query(query, conn)

In [0]:
df

     OrderID                OrderDate  ... CustomerID  Freight
0      10540  1997-05-19 00:00:00.000  ...      QUICK  1007.64
1      10372  1996-12-04 00:00:00.000  ...      QUEEN   890.78
2      11030  1998-04-17 00:00:00.000  ...      SAVEA   830.75
3      10691  1997-10-03 00:00:00.000  ...      QUICK   810.05
4      10514  1997-04-22 00:00:00.000  ...      ERNSH   789.95
..       ...                      ...  ...        ...      ...
825    11035  1998-04-20 00:00:00.000  ...      SUPRD     0.17
826    10509  1997-04-17 00:00:00.000  ...      BLAUS     0.15
827    10644  1997-08-25 00:00:00.000  ...      WELLI     0.14
828    10296  1996-09-03 00:00:00.000  ...      LILAS     0.12
829    10972  1998-03-24 00:00:00.000  ...      LACOR     0.02

[830 rows x 5 columns]

In [0]:
query = """
SELECT o.OrderID, o.OrderDate, e.FirstName, e.LastName, od.ProductID
FROM Orders o, Employees e, "Order Details" od
ON o.EmployeeID = e.EmployeeID AND o.OrderID = od.OrderID
"""

df_2 = pd.read_sql(query, conn)
df_2

      OrderID                OrderDate FirstName  LastName  ProductID
0       10248  1996-07-04 00:00:00.000    Steven  Buchanan         11
1       10248  1996-07-04 00:00:00.000    Steven  Buchanan         42
2       10248  1996-07-04 00:00:00.000    Steven  Buchanan         72
3       10249  1996-07-05 00:00:00.000   Michael    Suyama         14
4       10249  1996-07-05 00:00:00.000   Michael    Suyama         51
...       ...                      ...       ...       ...        ...
2150    11077  1998-05-06 00:00:00.000     Nancy   Davolio         64
2151    11077  1998-05-06 00:00:00.000     Nancy   Davolio         66
2152    11077  1998-05-06 00:00:00.000     Nancy   Davolio         73
2153    11077  1998-05-06 00:00:00.000     Nancy   Davolio         75
2154    11077  1998-05-06 00:00:00.000     Nancy   Davolio         77

[2155 rows x 5 columns]

In [0]:
conn_new = sqlite3.connect('new_db.sqlite')

In [0]:
df_2.to_sql('my_table', conn)

ValueError: ignored

In [0]:
conn_new.commit()