<a href="https://colab.research.google.com/github/JimKing100/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module4-acid-and-database-scalability-tradeoffs/assignment_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading https://files.pythonhosted.org/packages/1e/c0/16303cef8d54fdcfae7be7880cf471f21449225687f61cc3be2a7ef4e6e5/psycopg2_binary-2.8.4-cp36-cp36m-manylinux1_x86_64.whl (2.9MB)
     |████████████████████████████████| 2.9MB 5.0MB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.4

In [0]:
import psycopg2

In [0]:
host = 'salt.db.elephantsql.com'
user = 'wsatpgnz'
database = 'wsatpgnz'
password = 'XVEGRlubTrvmenIrmXs0323JX60OMe-Q'

In [0]:
pg_conn = psycopg2.connect(database=database, user=user, password=password, host=host)
pg_cur = pg_conn.cursor()

In [0]:
def execute(query, conn):
  with conn:
    with conn.cursor() as cur:
      cur.execute(query)
      result = cur.fetchall()
  return list(result)

In [0]:
query1 = 'SELECT COUNT(survived) \
          FROM "public"."titanic" \
          WHERE survived = 1'

In [0]:
query2 = 'SELECT COUNT(survived) \
          FROM "public"."titanic" \
          WHERE survived = 0'

In [0]:
query3 = 'SELECT pclass, COUNT(survived) \
          FROM "public"."titanic" \
          WHERE survived = 1 \
          GROUP BY pclass \
          ORDER BY pclass'

In [0]:
query4 = 'SELECT pclass, COUNT(survived) \
          FROM "public"."titanic" \
          WHERE survived = 0 \
          GROUP BY pclass \
          ORDER BY pclass'

In [0]:
query5 = 'SELECT  survived, AVG(age) \
          FROM "public"."titanic" \
          GROUP BY survived \
          ORDER BY survived'

In [0]:
query6 = 'SELECT  pclass, AVG(age) \
          FROM "public"."titanic" \
          GROUP BY pclass \
          ORDER BY pclass'

In [0]:
query7 = 'SELECT  pclass, AVG(fare) \
          FROM "public"."titanic" \
          GROUP BY pclass \
          ORDER BY pclass'

In [0]:
query8 = 'SELECT  survived, AVG(fare) \
          FROM "public"."titanic" \
          GROUP BY survived \
          ORDER BY survived'

In [0]:
query9 = 'SELECT pclass, AVG(siblings) \
          FROM "public"."titanic" \
          GROUP BY pclass \
          ORDER BY pclass'

In [0]:
query10 = 'SELECT survived, AVG(siblings) \
           FROM "public"."titanic" \
           GROUP BY survived \
           ORDER BY survived'

In [0]:
query11 = 'SELECT pclass, AVG(parents) \
           FROM "public"."titanic" \
           GROUP BY pclass \
           ORDER BY pclass'

In [0]:
query12 = 'SELECT survived, AVG(parents) \
           FROM "public"."titanic" \
           GROUP BY survived \
           ORDER BY survived'

In [0]:
query13 = 'SELECT name, COUNT(*) \
           FROM "public"."titanic" \
           GROUP BY name \
           HAVING COUNT(*) > 1'

In [0]:
sec1 = 'SELECT name \
           FROM "public"."titanic" \
           WHERE (name LIKE '
sec2 = "'Mr.%'"
sec3 = ' OR name LIKE '
sec4 = "'Mrs.%'"
sec5 = ') AND siblings > 0'
query14 = sec1 + sec2 + sec3 + sec4 + sec5
print(query14)

SELECT name            FROM "public"."titanic"            WHERE (name LIKE 'Mr.%' OR name LIKE 'Mrs.%') AND siblings > 0

In [0]:
answer = execute(query1, pg_conn)
print(answer[0][0], 'survivors on the Titanic')

342 survivors on the Titanic

In [0]:
answer = execute(query2, pg_conn)
print(answer[0][0], 'died on the Titanic')

545 died on the Titanic

In [0]:
answer = execute(query3, pg_conn)
print(answer[0][1], 'survivors from class', answer[0][0])
print(answer[1][1], 'survivors from class', answer[1][0])
print(answer[2][1], 'survivors from class', answer[2][0])

136 survivors from class 1
87 survivors from class 2
119 survivors from class 3

In [0]:
answer = execute(query4, pg_conn)
print(answer[0][1], 'died from class', answer[0][0])
print(answer[1][1], 'died from class', answer[1][0])
print(answer[2][1], 'died from class', answer[2][0])

80 died from class 1
97 died from class 2
368 died from class 3

In [0]:
answer = execute(query5, pg_conn)
print('average age on those who died was', answer[0][1])
print('average age on those who suvived was', answer[1][1])

average age on those who died was 30.1541284403669725
average age on those who suvived was 28.4122807017543860

In [0]:
answer = execute(query6, pg_conn)
print('class', answer[0][0], 'average age is', answer[0][1])
print('class', answer[1][0], 'average age is', answer[1][1])
print('class', answer[2][0], 'average age is', answer[2][1])

class 1 average age is 38.7916666666666667
class 2 average age is 29.8804347826086957
class 3 average age is 25.2032854209445585

In [0]:
answer = execute(query7, pg_conn)
print('class', answer[0][0], 'average fare is', answer[0][1])
print('class', answer[1][0], 'average fare is', answer[1][1])
print('class', answer[2][0], 'average fare is', answer[2][1])

class 1 average fare is 84.1546874999999
class 2 average fare is 20.6621831521739
class 3 average fare is 13.7077073921971

In [0]:
answer = execute(query8, pg_conn)
print('average fare of those who died is', answer[0][1])
print('average fare of those who survived is', answer[1][1])

average fare of those who died is 22.2085840366972
average fare of those who survived is 48.3954076023392

In [0]:
answer = execute(query9, pg_conn)
print('class', answer[0][0], 'average # of siblings is', answer[0][1])
print('class', answer[1][0], 'average # of siblings is', answer[1][1])
print('class', answer[2][0], 'average # of siblings is', answer[2][1])

class 1 average # of siblings is 0.41666666666666666667
class 2 average # of siblings is 0.40217391304347826087
class 3 average # of siblings is 0.62012320328542094456

In [0]:
answer = execute(query10, pg_conn)
print('average # siblings of those who died is', answer[0][1])
print('average # siblings of those who survived is', answer[1][1])

average # siblings of those who died is 0.55779816513761467890
average # siblings of those who survived is 0.47368421052631578947

In [0]:
answer = execute(query11, pg_conn)
print('class', answer[0][0], 'average # of parents is', answer[0][1])
print('class', answer[1][0], 'average # of parents is', answer[1][1])
print('class', answer[2][0], 'average # of parents is', answer[2][1])

class 1 average # of parents is 0.35648148148148148148
class 2 average # of parents is 0.38043478260869565217
class 3 average # of parents is 0.39630390143737166324

In [0]:
answer = execute(query12, pg_conn)
print('average # parents of those who died is', answer[0][1])
print('average # parents of those who survived is', answer[1][1])

average # parents of those who died is 0.33211009174311926606
average # parents of those who survived is 0.46491228070175438596

In [0]:
answer = execute(query13, pg_conn)
print(answer)
print('No duplicate names')

[]
No duplicate names

In [0]:
answer = execute(query14, pg_conn)
print(answer)

[('Mr. Owen Harris Braund',), ('Mrs. John Bradley (Florence Briggs Thayer) Cumings',), ('Mrs. Jacques Heath (Lily May Peel) Futrelle',), ('Mrs. Nicholas (Adele Achem) Nasser',), ('Mr. Anders Johan Andersson',), ('Mrs. Julius (Emelia Maria Vandemoortele) Vander Planke',), ('Mrs. Carl Oscar (Selma Augusta Emilia Johansson) Asplund',), ('Mr. Charles Alexander Fortune',), ('Mrs. William Augustus (Marie Eugenie) Spencer',), ('Mr. Edgar Joseph Meyer',), ('Mr. Alexander Oskar Holverson',), ('Mrs. Johan (Johanna Persdotter Larsson) Ahlin',), ('Mrs. William John Robert (Dorothy Ann Wonnacott) Turpin',), ('Mr. Denis Lennon',), ('Mr. Youssef Samaan',), ('Mrs. Josef (Josefine Franchi) Arnold-Franchi',), ('Mrs. Henry Sleeper (Myna Haxtun) Harper',), ('Mrs. Lizzie (Elizabeth Anne Wilkinson) Faunthorpe',), ('Mr. Henry Birkhardt Harris',), ('Mr. Vincenz Kink',), ('Mr. Apostolos Chronopoulos',), ('Mrs. Karl Alfred (Maria Mathilda Gustafsson) Backstrom',), ('Mr. William Neal Ford',), ('Mr. Herbert Fuller Chaffee',), ('Mr. Bertram Frank Dean',), ('Mr. Sinai Kantor',), ('Mr. Anders Vilhelm Gustafsson',), ('Mr. William John Robert Turpin',), ('Mr. Stanley George Hickman',), ('Mr. Nicholas Nasser',), ('Mrs. Alexander A (Grace Charity Laury) Robins',), ('Mrs. Leopold (Mathilde Francoise Pede) Weisz',), ('Mr. Jacques Heath Futrelle',), ('Mrs. Pekka Pietari (Elin Matilda Dolck) Hakkarainen',), ('Mr. Joseph Charles Nicholls',), ('Mrs. Thomas (Edith Wearne) Pears',), ('Mrs. William (Anna Bernhardina Karlsson) Skoog',), ('Mr. Klas Albin Klasen',), ("Mrs. Thomas (Johanna Godfrey) O'Brien",), ('Mr. John Bourke',), ('Mr. Frederick Sage',), ('Mr. Karl Alfred Backstrom',), ('Mr. Philip Kiernan',), ('Mr. Sidney Samuel Jacobsohn',), ('Mr. Frederick Maxfield Hoyt',), ('Mrs. Henry Birkhardt (Irene Wallach) Harris',), ('Mr. Stephen Hold',), ('Mr. Richard Leonard Beckwith',), ('Mrs. Wilhelm (Elna Matilda Persson) Strom',), ('Mr. William Arthur Lobb',), ('Mr. Emil Taussig',), ('Mr. Ernesti Arvid Panula',), ('Mr. Ernst Ulrik Persson',), ('Mrs. Stanton (Rosa Hunt) Abbott',), ('Mrs. Dickinson H (Helen Walton) Bishop',), ('Mr. Bernard McCoy',), ('Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo) Penasco y Castellana',), ('Mr. Samuel Abelson',), ('Mrs. William (Anna Sylfven) Lahtinen',), ('Mr. Benjamin Hart',), ('Mrs. Sinai (Miriam Sternin) Kantor',), ('Mrs. Frederic Oakley (Margaretta Corning Stone) Spedden',), ('Mrs. Albert Francis (Sylvia Mae Harbaugh) Caldwell',), ('Mr. George John Jr Sage',), ('Mrs. Frank John (Emily Alice Brown) Goldsmith',), ('Mr. Leo Edmondus Vander Planke',), ('Mrs. Henry William (Clara Heinsheimer) Frauenthal',), ('Mr. Thomas Clinton Pears',), ('Mrs. Thomas Henry (Mary E Finck) Davison',), ('Mr. Tannous Elias',), ('Mr. Josef Arnold-Franchi',), ('Mr. Wilhelm Skoog',), ('Mr. Sebastiano del Carlo',), ("Mr. Thomas O'Brien",), ('Mrs. Frank Manley (Anna Sophia Atkinson) Warren',), ('Mr. George Achilles Harder',), ('Mr. Jakob Alfred Wiklund',), ('Mrs. Edgar Joseph (Leila Saks) Meyer',), ('Mrs. Alexander Oskar (Mary Aline Towner) Holverson',), ('Mr. William Ernest Carter',), ('Mr. Johan Birger Gustafsson',), ('Mr. Pekka Pietari Hakkarainen',), ('Mr. Shadrach Gale',), ('Mrs. James Vivian (Lulu Thorne Christian) Drew',), ('Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren) Danbom',), ('Mr. Viktor Richard Rosblom',), ('Mrs. Charles V (Ada Maria Winfield) Clarke',), ('Mrs. Percival (Florence Kate White) Thorneycroft',), ('Mrs. Charles Alexander (Alice Adelaide Slow) Louch',), ('Mr. William Baird Silvey',), ('Mrs. Sidney (Emily Hocking) Richards',), ('Mr. Mark Fortune',), ('Mrs. Benjamin (Esther Ada Bloomfield) Hart',), ('Mr. Johan Emil Petterson',), ('Mr. Edwy Arthur West',), ('Mr. Ingvald Olai Olsen Hagland',), ('Mr. Samuel L Goldenberg',), ('Mrs. Frederick R (Marion) Kenyon',), ('Mrs. Edwy Arthur (Ada Mary Worth) West',), ('Mr. Peter Henry Renouf',), ('Mr. Lewis Richard Braund',), ('Mr. Dickinson H Bishop',), ('Mrs. Frederick Maxfield (Jane Anne Forby) Hoyt',), ('Mr. Konrad Mathias Reiersen Hagland',), ('Mrs. Hudson J C (Bessie Waldo Daniels) Allison',), ('Mr. Victor de Satode Penasco y Castellana',), ('Mrs. Martin (Elizabeth L. Barrett) Rothschild',), ('Mrs. William A (Florence Agnes Hughes) Angle',), ('Mr. Richard George Hocking',), ('Mr. Joseph Jr Elias',), ('Mr. Edward Beane',), ('Mr. Walter Donald Douglas',), ('Mrs. Edward (Ethel Clarke) Beane',), ('Mr. Frank John Goldsmith',), ('Mrs. Emil (Tillie Mandelbaum) Taussig',), ('Mrs. Guillaume Joseph (Emma) de Messemaeker',), ('Mr. Alfred J Davies',), ('Mrs. Edward Dale (Charlotte Lamson) Appleton',), ('Mrs. William Baird (Alice Munger) Silvey',), ('Mrs. Joseph (Maria Elias) Caram',), ('Mrs. John Borland (Marian Longstreth Morris) Thayer',), ('Mr. Maxmillian Frolicher-Stehli',), ('Mrs. Walter Bertram (Martha Eustis) Stephenson',), ('Mr. John Henry Chapman',), ('Mr. Jean Baptiste Van Impe',), ('Mrs. Sidney Samuel (Amy Frances Christy) Jacobsohn',), ('Mr. Edvard Bengtsson Lindell',), ('Mrs. Joseph (Juliette Marie Louise Lafargue) Laroche',), ('Mrs. Anders Johan (Alfrida Konstantia Brogren) Andersson',), ('Mr. Ernst Gilbert Danbom',), ('Mrs. William Arthur (Cordelia K Stanlick) Lobb',), ('Mr. Antoni Yasbeck',), ('Mr. Edwin Nelson Jr Kimball',), ('Mr. Sahid Nakid',), ('Mr. Harvey Collyer',), ('Mr. Percival Thorneycroft',), ('Mr. Henry Sleeper Harper',), ('Mr. Leonard Mark Hickman',), ('Mrs. John (Catherine) Bourke',), ('Mr. Eino William Lindqvist',), ('Mr. Lewis Hickman',), ('Mrs. Elmer Zebley (Juliet Cummins Wright) Taylor',), ('Mrs. Thomas William Solomon (Elizabeth Catherine Ford) Brown',), ('Mr. Thornton Davidson',), ('Mrs. Frederick (Augusta Tyler) Goodwin',), ('Mr. Charles Edward Goodwin',), ('Mr. Thomas William Solomon Brown',), ('Mr. Joseph Philippe Lemercier Laroche',), ('Mr. Jaako Arnold Panula',), ('Mr. Albert Adrian Dick',), ('Mr. John Borland Thayer',), ('Mrs. John Jacob (Madeleine Talmadge Force) Astor',), ('Mr. Henrik Juul Hansen',), ('Mr. Elmer Zebley Taylor',), ('Mr. Svend Lauritz Jensen',), ('Mr. Norman Campbell Chambers',), ('Mrs. Peter Henry (Lillian Jefferys) Renouf',), ('Mr. Kurt Arnold Gottfrid Bryhl',), ('Mrs. Edward (Margaret Ann Watson) Ford',), ('Mr. Tyrell William Cavendish',), ('Mr. Neal McNamee',), ('Mr. Rossmore Edward Abbott',), ('Mr. Daniel Warner Marvin',), ('Mrs. Samuel (Jane Laver) Herman',), ('Mrs. William Ernest (Lucile Polk) Carter',), ('Mrs. John C (Anna Andrews) Hogeboom',), ('Mr. Daniel J Moran',), ('Mrs. Elizabeth (Eliza Needs) Hocking',), ('Mrs. Albert Adrian (Vera Gillespie) Dick',), ('Mr. Andrew G Johnston',), ('Mrs. Jean Baptiste (Rosalie Paula Govaert) Van Impe',), ('Mrs. Harvey (Charlotte Annie Tate) Collyer',), ('Mrs. Norman Campbell (Bertha Griggs) Chambers',), ('Mr. Albert Mallet',), ('Mrs. Charles Melville (Clara Jennings Gregg) Hays',), ('Mrs. Antoni (Selini Alexander) Yasbeck',), ('Mr. Douglas Bullen Sage',), ('Mrs. Samuel L (Edwiga Grabowska) Goldenberg',), ('Mrs. Ernest Courtenay (Lilian Hughes) Carter',), ('Mrs. George Dennick (Mary Hitchcock) Wick',), ('Mr. Claus Peter Hansen',), ('Mr. Frederick Edward Giles',), ('Mrs. Richard Leonard (Sallie Monypeny) Beckwith',), ('Mrs. Samuel (Hannah Wizosky) Abelson',)]