<a href="https://colab.research.google.com/github/JimKing100/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module4-acid-and-database-scalability-tradeoffs/cc_tester.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sqlite3

In [0]:
conn = sqlite3.connect('/content/tester.sqlite3')

In [0]:
query1 = """
CREATE TABLE IF NOT EXISTS Employee (Id int, Name varchar(255), Salary int, DepartmentId int);
"""

In [27]:
curs1 = conn.cursor()
curs1.execute(query1)

In [0]:
query2 = """
CREATE TABLE IF NOT EXISTS Department (Id int, Name varchar(255));
"""

In [29]:
curs2 = conn.cursor()
curs2.execute(query2)

In [0]:
query3 = """
DELETE FROM Employee
"""

In [31]:
curs3 = conn.cursor()
curs3.execute(query3)

In [0]:
query4 = """
INSERT INTO Employee (Id, Name, Salary, DepartmentId) values ('1', 'Joe', '85000', '1');
"""
query5 = """
INSERT INTO Employee (Id, Name, Salary, DepartmentId) values ('2', 'Henry', '80000', '2');
"""
query6 = """
INSERT INTO Employee (Id, Name, Salary, DepartmentId) values ('3', 'Sam', '60000', '2');
"""
query7 = """
INSERT INTO Employee (Id, Name, Salary, DepartmentId) values ('4', 'Max', '90000', '1');
"""
query8 = """
INSERT INTO Employee (Id, Name, Salary, DepartmentId) values ('5', 'Janet', '69000', '1');
"""
query9 = """
INSERT INTO Employee (Id, Name, Salary, DepartmentId) values ('6', 'Randy', '85000', '1');
"""
query10 = """
INSERT INTO Employee (Id, Name, Salary, DepartmentId) values ('7', 'Will', '70000', '1');
"""

In [33]:
curs4 = conn.cursor()
curs4.execute(query4)
curs5 = conn.cursor()
curs5.execute(query5)
curs6 = conn.cursor()
curs6.execute(query6)
curs7 = conn.cursor()
curs7.execute(query7)
curs8 = conn.cursor()
curs8.execute(query8)
curs9 = conn.cursor()
curs9.execute(query9)
curs10 = conn.cursor()
curs10.execute(query10)

In [0]:
query11 = """
DELETE FROM Department
"""
query12 = """
INSERT INTO Department (Id, Name) values ('1', 'IT');
"""
query13 = """
INSERT INTO Department (Id, Name) values ('2', 'Sales');
"""

In [35]:
curs11 = conn.cursor()
curs11.execute(query11)
curs12 = conn.cursor()
curs12.execute(query12)
curs13 = conn.cursor()
curs13.execute(query13)

In [0]:
query14 = """
SELECT D.Name AS Department, E.Name AS Employee, E.Salary AS Salary 
FROM Employee E INNER JOIN Department D ON E.DepartmentId = D.Id 
WHERE (SELECT COUNT(DISTINCT(Salary)) FROM Employee 
       WHERE DepartmentId = E.DepartmentId AND Salary > E.Salary) < 3
ORDER by E.DepartmentId, E.Salary DESC;
"""

In [42]:
curs14 = conn.cursor()
print(curs14.execute(query14).fetchall())

[('IT', 'Max', 90000), ('IT', 'Joe', 85000), ('IT', 'Randy', 85000), ('IT', 'Will', 70000), ('Sales', 'Henry', 80000), ('Sales', 'Sam', 60000)]