<a href="https://colab.research.google.com/github/JimKing100/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module2-sql-for-analysis/insert_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
# Imports
import pandas as pd
from sqlalchemy import create_engine
import psycopg2


df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module2-sql-for-analysis/titanic.csv')
df = df.rename(columns={"Survived": "survived", "Pclass": "pclass", "Name": "name", "Sex": "sex",
                        "Age": "age", "Siblings/Spouses Aboard": "siblings", 
                        "Parents/Children Aboard": "parents", "Fare": "fare"})
print(df.head())

host = 'salt.db.elephantsql.com'
user = 'wsatpgnz'
database = 'wsatpgnz'
password = 'XVEGRlubTrvmenIrmXs0323JX60OMe-Q'

   survived  pclass  ... parents     fare
0         0       3  ...       0   7.2500
1         1       1  ...       0  71.2833
2         1       3  ...       0   7.9250
3         1       1  ...       0  53.1000
4         0       3  ...       0   8.0500

[5 rows x 8 columns]

In [0]:
pg_conn = psycopg2.connect(database=database, user=user, password=password, host=host)
pg_cur = pg_conn.cursor()

pg_cur.execute('DROP TABLE "public"."titanic"')
pg_conn.commit()

In [0]:
create_titanic_table = """
CREATE TABLE titanic(
    survived SMALLINT NOT NULL,
    pclass SMALLINT NOT NULL,
    name VARCHAR (100) NOT NULL,
    sex VARCHAR (10) NOT NULL,
    age SMALLINT NOT NULL,
    siblings SMALLINT NOT NULL,
    parents SMALLINT NOT NULL,
    fare FLOAT NOT NULL
);
"""

pg_cur.execute(create_titanic_table)
pg_conn.commit()

In [0]:
db_string = "postgres://wsatpgnz:XVEGRlubTrvmenIrmXs0323JX60OMe-Q@salt.db.elephantsql.com:5432/wsatpgnz"
engine = create_engine(db_string)

pg_conn_2 = engine.connect()

df.to_sql('titanic', pg_conn_2, index=False, if_exists='append')