<a href="https://colab.research.google.com/github/JimKing100/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module2-sql-for-analysis/Module2_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Test the SQLite Load - File is Uploaded Locally in Colab

In [21]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.6/dist-packages (2.8.4)

In [0]:
# Imports
import sqlite3

In [23]:
# Queries
query1 = 'SELECT COUNT(character_id) \
          FROM charactercreator_character;'

# File is uploaded to Colab
conn = sqlite3.connect('rpg_db.sqlite3')

# Execute queries
curs1 = conn.cursor()
print('Total characters =', curs1.execute(query1).fetchall())

Total characters = [(302,)]

In [0]:
# Close cursors and commit
curs1.close()
conn.commit()

### Insert the RPG Data Into PostgreSQL

In [0]:
# Imports
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [0]:
# Connect to sqlite RPG DB
sl_conn =sqlite3.connect('rpg_db.sqlite3')
sl_cur = sl_conn.cursor()

In [27]:
# Test the Connection
sl_cur.execute('SELECT * FROM charactercreator_character')
sl_cc_table = sl_cur.fetchall()
sl_cc_table[0]

(1, 'Aliquid iste optio reiciendi', 0, 0, 10, 1, 1, 1, 1)

In [0]:
# Create Postegres Engine
db_string = 'postgres://wsatpgnz:XVEGRlubTrvmenIrmXs0323JX60OMe-Q@salt.db.elephantsql.com:5432/wsatpgnz'
engine = create_engine(db_string)

In [0]:
# Connnect to Postgres DB
pg_conn = engine.connect()

In [30]:
# Convert charactercreator_character to Dataframe
df = pd.read_sql('SELECT * FROM charactercreator_character', sl_conn)
df

     character_id                            name  ...  dexterity  wisdom
0               1    Aliquid iste optio reiciendi  ...          1       1
1               2              Optio dolorem ex a  ...          1       1
2               3                         Minus c  ...          1       1
3               4                     Sit ut repr  ...          1       1
4               5           At id recusandae expl  ...          1       1
..            ...                             ...  ...        ...     ...
297           298    Autem ratione vitae quos, do  ...          1       1
298           299            Voluptatibus aliquid  ...          1       1
299           300  Quaerat sequi sit eius corpori  ...          1       1
300           301                            Libe  ...          1       1
301           302                       Aliquam n  ...          1       1

[302 rows x 9 columns]

In [0]:
#pg_conn.execute('DROP TABLE "public"."charactercreator_character"')

In [0]:
# Store the Dataframe in the Postgres DB
table_names_dict = {'charactercreator_character': 'character_id'}

for table_name, primary_key in table_names_dict.items():
  df = pd.read_sql(f"SELECT * FROM {table_name}", sl_conn)
  df = df.set_index(primary_key, verify_integrity=True)
  df.to_sql(table_name, pg_conn)

In [0]:
# Close cursors and commit
sl_cur.close()
sl_conn.commit()