<a href="https://colab.research.google.com/github/JimKing100/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module2-sql-for-analysis/search_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading https://files.pythonhosted.org/packages/1e/c0/16303cef8d54fdcfae7be7880cf471f21449225687f61cc3be2a7ef4e6e5/psycopg2_binary-2.8.4-cp36-cp36m-manylinux1_x86_64.whl (2.9MB)
     |████████████████████████████████| 2.9MB 5.0MB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.4

In [0]:
import psycopg2

In [0]:
host = 'salt.db.elephantsql.com'
user = 'wsatpgnz'
database = 'wsatpgnz'
password = 'XVEGRlubTrvmenIrmXs0323JX60OMe-Q'

In [0]:
pg_conn = psycopg2.connect(database=database, user=user, password=password, host=host)
pg_cur = pg_conn.cursor()

In [0]:
def execute(query, conn):
  with conn:
    with conn.cursor() as cur:
      cur.execute(query)
      result = cur.fetchall()
  return list(result)

In [0]:
query1 = 'SELECT COUNT(survived) \
          FROM "public"."titanic" \
          WHERE survived = 1'

In [0]:
query2 = 'SELECT COUNT(survived) \
          FROM "public"."titanic" \
          WHERE survived = 0'

In [0]:
query3 = 'SELECT pclass, COUNT(survived) \
          FROM "public"."titanic" \
          WHERE survived = 1 \
          GROUP BY pclass \
          ORDER BY pclass'

In [15]:
answer = execute(query1, pg_conn)
print(answer[0][0], 'survivors on the Titanic')

342 survivors on the Titanic

In [18]:
answer = execute(query2, pg_conn)
print(answer[0][0], 'died on the Titanic')

545 died on the Titanic

In [30]:
answer = execute(query3, pg_conn)
print(answer[0][1], 'survivors from class', answer[0][0])
print(answer[1][1], 'survivors from class', answer[1][0])
print(answer[2][1], 'survivors from class', answer[2][0])

136 survivors from class 1
87 survivors from class 2
119 survivors from class 3